body{
	border:1px solid green;
	}
	.box-a,.box-b,.box-c{
	font-size:30px;
	font-family:sans-serif;
	color:#fff;
	height:100px;
	width:650px;
	}
	.box-a{
		background-color:orange;
		position:relative;
		left:20px;
		z-index:1;
		
	}
	.box-b{
		background-color:red;
		position:relative;
		left:40px;
		bottom:20px;
		z-index:2;
	}
	.box-c{
		background-color:blue;
		position:relative;
		left:70px;
		bottom:30px;
		z-index:3;
	}
	